<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta http-equiv="cache-control" content="max-age=0, no-store, no-cache, must-revalidate"/>

    <link href="/assets/screen.css" rel="stylesheet">

</head>

<body>

    <script src="/js/closure-library/closure/goog/base.js"></script>
    <script src="/js/helsal-deps.js"></script>
    <script>
        goog.require('helsal.practiceportal.ui.Renderer');
    </script>

</body>

</html>