<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

    var oReq;
    var comment;

    function addComment(){

        //create an instance of xhr
        oReq = new XMLHttpRequest();

        //open the url
        oReq.open("POST", "/xhrform");

        //set the request header content-type to json
        oReq.setRequestHeader("content-type", "application/json;charset=UTF-8");

        //get the the value of the comment text input
        comment = document.getElementById("content").value;

        oReq.onreadystatechange=function()
        {
            //if the request has finished and the status is OK
            if (oReq.readyState==4 && oReq.status==200)
            {
                //create the list item for the added comment
                var li = document.createElement("LI");
                li.setAttribute("onclick", "deleteComment(this.id)");
                li.setAttribute("id", oReq.responseText);
                var litext = document.createTextNode(comment);
                li.appendChild(litext);
                document.getElementById("comments").appendChild(li);


                //testing response
                console.log(oReq.responseText);
            }
        }
        //send the comment to the server
        oReq.send(JSON.stringify({'content': comment}));
        return false;
    }

    function deleteComment(id){
        //create an instance of xhr
        oReq = new XMLHttpRequest();

        //open the url
        oReq.open("POST", "/xhrform");

        oReq.onreadystatechange=function()
        {
            //if the request has finished and the status is OK
            if (oReq.readyState==4 && oReq.status==200)
            {
                //remove the comment form the list
                var comment_node = document.getElementById(id);
                comment_node.parentNode.removeChild(comment_node);

                //testing response
                console.log(oReq.responseText);
            }
        }
        //tell the server to delete the comment from the datastore
        oReq.send(JSON.stringify({'delete':id}));
    }

    </script>
    <title>Form</title>
</head>
<body>
        <div>Your comment: <input type="text" name="content" id="content"></div>
        <div><button onclick="addComment();">Submit</button></div>

        <ul id="comments">
            {% for comment in comments %}
            <li onclick="deleteComment(this.id)" id="{{ comment.key.id() }}">{{ comment.content }}</li>
            {% endfor %}
        </ul>
</body>
</html>